
body {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.board {
    display: flex;
    width: 60vh;
    height: 60vh;
    border: 1px solid blue;
    margin: auto;
}

.cell {
    display: flex;
    width: 20vh;
    height: 20vh;
    background-color: magenta;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

